.finder {
  display: flex;
  flex:1;
  max-width: 450px;
  padding-top: 20px;
}

.finder input {  
  width: 100%;
  padding-left: 10px;
  border: solid 1px rgb(199, 195, 195);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  outline: none;
  font-size: 16px;
}

.finder input:focus {
border-color: #064420;
}

.finder button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: -1px;
  border: solid 1px rgb(199, 195, 195);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #FAF1E6;
  cursor: pointer;
  transition: background-color 0.5s
}

.finder button:hover {
  background-color:  rgba(247, 222, 191, 0.937);  
}

.finder img,
.loop img {
  width: 28px;
}

.loop {
  display:none;
  padding-top: 20px;
}

.loop button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border:none;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .finder {
    display: none;
  }
  .loop {
    display: inline-block;
  }
}
