.menu {
  display:flex;
  justify-content: center;
  background-color: #064420;
  padding: 30px;
  margin-bottom: 30px;
}

.menu ul {
  display: flex;
  gap:40px;
}

.menu a {
  color: #fdfaf6;
  font-size: 18px;
  text-decoration: none;
}

.menu a:hover,
.menu a:active,
.menu a.active {
  color: #f5cb98
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding:0 7%
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo h1 {
  font-family: Pacifico;
  font-size: 40px;
  padding-top: 10px;
  margin: 0;
  text-shadow: 1px 1px 2px rgb(245, 206, 135);
}

.logo img {
  width: 120px;
  padding: 10px;  
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

