.recipes-menu {
    position:sticky;
    top:200px;
    display:flex;
    justify-content: center;    
    background-color: #FDFAF6;;
    padding: 20px;
    margin: 0 auto 30px;
}

.recipes-menu ul {
    display:flex;
    gap: 40px;
    align-items: stretch;
}

.recipes-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 120px;
    font-size: 16px;
    background-color: #E4EFE7;
    color: #064420;
    border-radius: 4px;
    transition: background-color 0.2s;
    text-decoration: none;
}

.recipes-menu a:active,
.recipes-menu a:hover,
.recipes-menu a.active {
    background-color:#064420;
    color:#fdfaf6
}

