.recipe {
  max-width: 45%;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card {
text-align: center;
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.card h2 {
    width:60%;
    margin:20px auto;
}

.card-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}
.card li {
  margin-bottom: 15px;
}

.card-section ul {
  list-style-type: circle;
}

.card-section li {
  margin-bottom: 0;
  padding-left: 7px;
  list-style-position: inside;
}

.card-section img {
  max-width: 45%;
  object-fit: cover;
  border-radius: 2px;
}

.card h3 {
  text-align: left;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.actions button,
.actions a {
  height: 45px;
  width: 120px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #FAF1E6;
  color: rgb(80, 79, 79);
  transition: background-color 0.5s
}

.actions a {
  text-decoration: none;
  padding-top: 13px;
}

.actions button:hover,
.actions a:hover {

  background-color: rgba(247, 222, 191, 0.937);

}
