.recipes-menu {
    display:flex;
    justify-content: center;    
    padding: 17px;
    margin: 40px auto;
}

.recipes-menu ul {
    display:flex;
    gap: 40px;
    align-items: stretch;
}

.recipes-menu a {
    height: 40px;
    width: 120px;
    background-color: #E4EFE7;
    color: #064420;
    border-radius: 4px;
    text-decoration: none;
    text-align:center;
    padding: 10px;
}

.recipes-menu a:active,
.recipes-menu a:hover,
.recipes-menu a.active {
    background-color:#064420;
    color:#fdfaf6
}

@media screen and (max-width: 768px) {
    .recipes-menu {
        margin: 20px auto;
    }
  }
  
